:root {
    --orange: #ff7700;
    --blue: #08186b;
    --turquoise: #07ea9e;
    --green: #02890b;
    --yellow: #fff714;
    --tan: #606036;
    --purple: #6e00ff;
    --red: #b70505;
    --pink: #fc58a2;
    --magenta: #c421c6;

    --font1: 'Lora', sans-serif;
    --font2: 'Noto Sans', sans-serif;
}